on: 

  workflow_dispatch:

jobs:
  job1:
  

    runs-on: ubuntu-latest
    
    steps:
      - id: monStep
        run: |
          run: echo "::set-output name=NOMVARIABLE::hello"
          # The output variable name is NOMVARIABLE
          echo "NOMVARIABLE=hello" >> $GITHUB_OUTPUT
      
      - name: Use the output in job1
        

  recup_variable:
  
    needs: job1 
    runs-on: ubuntu-latest
    
    steps:
      - name: Récupérer la variable de job1
       
        run: |
          echo "Attempting to retrieve variable from job1..."
          echo "The variable value from job1 is: ${{ needs.job1.outputs.job_output_variable }}"
